.prefecture-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 600px;
  margin: 10px auto;
  position: relative;
  left: 40px;

  .prefecture-item {
    text-align: left;
  }
}
